<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="../css/layout.css" rel="stylesheet" type="text/css" />
</head>

<body>
<!--背景-->
<div class="background"><img src="../images/bg1.jpg" alt="" /><div class="logo"></div></div>
<!--主内容开始-->
<div id="container">
  <div id="head">
    <a href="#" class="arrange" id="arrange"></a>
    <div class="yij"><a href="#">医技协同</a></div>
    <div class="h-right">
      <a href="index.html" class="home"></a>
      <img src="../images/line.png" width="2" height="50" alt="" />
      <a href="#" class="cloud" id="cloud">
      <div class="same">云同步</div>
      </a>
      <img src="../images/line.png" width="2" height="50" alt="" />
      <a href="#" class="bell"><span class="tip">3</span></a>
      <img src="../images/line.png" width="2" height="50" alt="" />
      <div class="user">
        <div class="pho"><img src="../images/photo.jpg" width="52" height="50" alt="" /></div>
        <span id="name">张末末
          <div class="user-info" id="twodm">
            <div class="jtt"></div>
            <div class="menu">
              <div class="first">
                <a href="#">个人信息</a>
              </div>
              <div class="second">
                <a href="#">通知<em>3</em></a>
              </div>
              <a href="#" class="quit">退出</a>
            </div>
          </div>
        </span>
        
      </div>
      <img src="../images/line.png" width="2" height="50" alt="" />
      <a href="#" class="notice" id="notice"></a> 
    </div>
  </div>
  <!--侧边栏-右-->
  <div class="side-bar" id="side-bar">
    <div class="side-bar-in">
      <ul class="tab">
        <li class="title vtitle">
          <a href="#" class="lianxi"></a>
        </li>
        <li class="title">
          <a href="#" class="heart"></a>
        </li>
        <li class="title">
          <a href="#" class="setting"></a>
        </li>
        <div class="vcon" id="vcon" style="display:block;">
          <ul>
            <li>
              <div class="pic"><img src="../images/doctor2.png" alt=""><span class="tis">10</span></div>
              <span>
                <h4>张美芳</h4>
                <p>厦门市第一医院</p>
              </span>
              <a href="#" class="v-big"></a>
            </li>
            <li class="xuanz">
              <div class="pic"><img src="../images/doctor5.png" alt=""><span class="tis">10</span></div>
              <span>
                <h4>刘志泽</h4>
                <p>厦门市第二医院</p>
              </span>
              <a href="#" class="v-big"></a>
            </li>
            <li>
              <div class="pic"><img src="../images/doctor3.png" alt=""><span class="tis">10</span></div>
              <span>
                <h4>赵美美</h4>
                <p>厦门市中山医院</p>
              </span>
              <a href="#" class="v-big"></a>
            </li>
            <li>
              <div class="pic"><img src="../images/doctor6.png" alt=""></div>
              <span>
                <h4>王泽军</h4>
                <p>海沧医院</p>
              </span>
              <a href="#" class="v-big"></a>
            </li>
            <li>
              <div class="pic"><img src="../images/doctor4.png" alt=""><span class="tis">10</span></div>
              <span>
                <h4>白丽兰</h4>
                <p>海军总医院</p>
              </span>
              <a href="#" class="v-big"></a>
            </li><li>
              <div class="pic"><img src="../images/doctor7.png" alt=""><span class="tis">10</span></div>
              <span>
                <h4>何平安</h4>
                <p>福建医科大学附属医院</p>
              </span>
              <a href="#" class="v-big"></a>
            </li>
            <li>
              <div class="pic"><img src="../images/doctor2.png" alt=""><span class="tis">10</span></div>
              <span>
                <h4>刘晶晶</h4>
                <p>武警医院</p>
              </span>
              <a href="#" class="v-big"></a>
            </li>
            <li>
              <div class="pic"><img src="../images/doctor5.png" alt=""><span class="tis">10</span></div>
              <span>
                <h4>唐逸汸</h4>
                <p>福建省立医院院</p>
              </span>
              <a href="#" class="v-big"></a>
            </li>
          </ul>
        </div>
        <div class="vcon">2</div>
        <div class="vcon">
          <div class="block">
            <span>背景颜色选择</span>
            <a href="#" class="dot" id="blue"><img src="../images/blue_dot.png" width="14" height="14" alt="" /></a>
            <a href="#" class="dot" id="pink"><img src="../images/pink_dot.png" width="14" height="14" alt="" /></a>
            <a href="#" class="dot" id="green"><img src="../images/green_dot.png" width="14" height="14" alt="" /></a>
          </div>
          <div class="block">
            <span>显示不在线医生</span>
            <a href="#" class="off" id="off"></a>
          </div>
          <div class="block">
            <span>消息提示</span>
            <a href="#" class="open" id="open"></a>
          </div>
        </div>
      </ul>
    </div>
  </div>
  <!--左侧栏begin-->
  <div class="left-bar" id="left-bar">
    <ul>
      <li><a href="#" class="synergy">医技协同<em>医技协同</em></a></li>
      <li><a href="#" class="movie">影像诊断<em>影像诊断</em></a></li>
      <li><a href="#" class="computer">预约协同<em>预约协同</em></a></li>
      <li><a href="#" class="drug">预交金管理<em>预交金管理</em></a></li>
      <li><a href="#" class="results">个人绩效<em>个人绩效</em></a></li>
    </ul>
  </div>
  <!--左侧栏end-->
  <!--模块-->
  <div class="insert" id="insert">
    <div class="pos">
      <a href="#">首页</a><span>&gt;</span><a href="#">医技协同</a><span>&gt;</span><a href="#">添加申请单</a>
    </div>
    <!---->
    <div class="in-con">
      <div class="in-con-top">
        <span class="un-edit">申请人：陈医生</span>
        <span class="un-edit">时间：2014-06-10 &nbsp;14:40</span>
        <div class="appmenu">
          <label>患者卡号：</label>
          <div class="dep">
            <span class="select_t">35148525</span>
            <a href="#"></a>
            <ul class="option">
             <li>351485225</li>
             <li>352482852</li>
            </ul>
          </div>
        </div>
        <div class="appmenu">
          <label>申请项目：</label>
          <div class="dep">
            <span class="select_t">核磁共振成像</span>
            <a href="#"></a>
            <ul class="option">
             <li>B超</li>
             <li>X光片扫描</li>
            </ul>
          </div>
        </div>
        <div class="appmenu">
          <label>接收医院：</label>
          <div class="dep">
            <span class="select_t">厦门第一医院</span>
            <a href="#"></a>
            <ul class="option">
             <li>厦门第二医院</li>
             <li>厦门中山医院</li>
            </ul>
          </div>
        </div>
        <div class="appmenu">
          <label>接收医生：</label>
          <div class="dep">
            <span class="select_t">放射科主任-戴永明</span>
            <a href="#"></a>
            <ul class="option">
             <li>内科-刘梅</li>
             <li>儿科-赵信</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="in-form">
        <div class="form-h">
           <div class="appmenu">
             <label>姓名：</label>
             <input name="" type="text" />
           </div>
           <div class="appmenu">
             <label>性别：</label>
             <a href="javascript:;" class="radio-btn">男</a>
             <a href="javascript:;" class="radio-btn radio-btn-check">女</a>
           </div>
           <div class="appmenu">
             <label>年龄：</label>
             <input name="" type="text" class="age" />
           </div>
           <div class="appmenu">
            <label>科室：</label>
            <div class="dep">
              <span class="select_t">妇科</span>
              <a href="#"></a>
              <ul class="option">
               <li>B超</li>
               <li>X光片扫描</li>
              </ul>
            </div>
           </div>
           <div class="appmenu">
            <label>床号：</label>
            <div class="dep">
              <span class="select_t">妇科</span>
              <a href="#"></a>
              <ul class="option">
               <li>B超</li>
               <li>X光片扫描</li>
              </ul>
            </div>
           </div>
           <div class="appmenu">
             <label>电话：</label>
             <input name="" type="text" />
           </div>
           <div class="appmenu">
             <label>地址：</label>
             <input name="" type="text" class="address"/>
           </div>
           <!--<a href="javascript:;" class="daoru"></a>-->
           <div class="clear"></div>
        </div>
        <div class="form-con">
          <label>主&nbsp;&nbsp;诉：</label>
          <div class="text">
            <textarea name="" cols="" rows=""></textarea>
          </div>
        </div>
        <div class="form-con">
          <label>月经史：</label>
          <div class="text">
            <textarea name="" cols="" rows=""></textarea>
          </div>
        </div>
        <div class="form-con">
          <label>婚育哺乳史：</label>
          <div class="text">
            <input name="" type="text" class="input" />
          </div>
        </div>
        <div class="form-con">
          <label>乳腺手术史：</label>
          <div class="text">
            <input name="" type="text" class="input" />
          </div>
        </div>
        <div class="form-con">
          <label>乳腺肿瘤家族史：</label>
          <div class="text">
            <input name="" type="text" class="input" />
          </div>
        </div>
        <div class="form-con">
          <label class="strong">体&nbsp;检：</label>
          <div class="linek">
            <div class="appmenu">
             <span>乳腺外形：</span>
             <a href="javascript:;" class="radio-btn">圆丘形</a>
             <a href="javascript:;" class="radio-btn radio-btn-check">半球形</a>
             <a href="javascript:;" class="radio-btn">圆锥形</a>
             <a href="javascript:;" class="radio-btn">下垂型</a>
           </div>
           <div class="appmenu">
             <span>患腺皮肤：</span>
             <a href="javascript:;" class="radio-btn">正 常</a>
             <a href="javascript:;" class="radio-btn radio-btn-check">桔皮样</a>
             <a href="javascript:;" class="radio-btn">红 肿</a>
             <a href="javascript:;" class="radio-btn">疤 痕</a>
             <a href="javascript:;" class="radio-btn">血管曲引</a>
             <a href="javascript:;" class="radio-btn">破 溃</a>
             <a href="javascript:;" class="radio-btn">实 道</a>
           </div>
           <div class="appmenu">
             <span>部位：</span>
             <a href="javascript:;" class="radio-btn">圆丘形</a>
             <a href="javascript:;" class="radio-btn radio-btn-check">半球形</a>
             <a href="javascript:;" class="radio-btn">圆锥形</a>
           </div>
           <div class="appmenu">
             <span>乳头溢液：</span>
             <a href="javascript:;" class="check-btn">左</a>
             <a href="javascript:;" class="check-btn">右</a>
           </div>
           <div class="appmenu">
             <span>颜&nbsp;色：</span>
             <input name="" type="text" class="color" />
           </div>
           <div class="appmenu">
             <span>形&nbsp;状：</span>
             <input name="" type="text" class="color" />
             <a href="javascript:;" class="check-btn">单孔</a>
             <a href="javascript:;" class="check-btn">多孔</a>
           </div>
          </div>
          <div class="clear"></div>
        </div>
        <div class="form-con">
          <label class="strong">乳腺肿块：</label>
          <div class="linek">
           <div class="appmenu">
             <span>部&nbsp;位：</span>
             <input name="" type="text" />
           </div>
           <div class="appmenu">
             <span>质&nbsp;地：</span>
             <input name="" type="text" />
           </div>
           <div class="appmenu">
             <span>大&nbsp;下：</span>
             <input name="" type="text" />
           </div>
           <div class="appmenu">
             <span>活动度：</span>
             <input name="" type="text" />
           </div>
          </div>
          <div class="clear"></div>
        </div> 
        <div class="form-con">
          <label class="strong">淋巴结：</label>
          <div class="linek">
           <div class="appmenu">
             <span>腋&nbsp;窝：</span>
             <input name="" type="text" />
           </div>
           <div class="appmenu">
             <span>锁骨上：</span>
             <input name="" type="text" />
           </div>
          </div>
          <div class="clear"></div>
        </div>
        <div class="form-con">
          <label class="strongs">临床诊断：</label>
          <div class="text">
            <textarea name="" cols="" rows=""></textarea>
          </div>
        </div>
        <!--按钮-->
        <div class="form-btn">
          <span class="jz">
            <a href="javascript:;" class="quer"></a>
            <a href="javascript:;" class="cancel"></a>
          </span>
        </div>
      </div>
      <div class="clear"></div>
    </div>
    
  </div>
</div>
<!--主内容结束-->
</body>

<script src="../js/jquery-1.7.1.min.js" language="javascript" type="text/javascript"></script>
<script src="../js/jquery.mousewheel.js" type="text/javascript"></script>
<script src="../js/jquery.jscrollpane.min.js" type="text/javascript"></script>
<script type="text/javascript" src="../js/jquery.event.drag-1.5.min.js"></script>
<script type="text/javascript" src="../js/jquery.touchSlider.js"></script>
<script type="text/javascript" src="../js/jquery.nicescroll.js"></script>
<script src="../js/slide.js" language="javascript" type="text/javascript"></script>
<!--[if IE 6]> <script src="../js/EvPng.js" type="text/javascript"></script> 
<script language="javascript" type="text/javascript"> 
EvPNG.fix("*");
</script> 
<![endif]-->


</html>

