<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="../css/layout.css" rel="stylesheet" type="text/css" />
</head>

<body>
<!--背景-->
<div class="background"><img src="../images/bg1.jpg" alt="" /><div class="logo"></div></div>
<!--主内容开始-->
<div id="container">
  <div id="head">
    <a href="#" class="arrange" id="arrange"></a>
    <div class="yij"><a href="#">医技协同</a></div>
    <div class="h-right">
      <a href="#" class="home"></a>
      <img src="../images/line.png" width="2" height="50" alt="" />
      <a href="#" class="cloud" id="cloud">
        <div class="same">云同步</div>
      </a>
      <img src="../images/line.png" width="2" height="50" alt="" />
      <a href="#" class="bell"><span class="tip">3</span></a>
      <img src="../images/line.png" width="2" height="50" alt="" />
      <div class="user">
        <div class="pho"><img src="../images/photo.jpg" width="52" height="50" alt="" /></div>
        <span id="name">张末末
          <div class="user-info" id="twodm">
            <div class="jtt"></div>
            <div class="menu">
              <div class="first">
                <a href="#">个人信息</a>
              </div>
              <div class="second">
                <a href="#">通知<em>3</em></a>
              </div>
              <a href="#" class="quit">退出</a>
            </div>
          </div>
        </span>
        
      </div>
      <img src="../images/line.png" width="2" height="50" alt="" />
      <a href="#" class="notice" id="notice"></a> 
    </div>
  </div>
  <!--侧边栏-右-->
  <div class="side-bar" id="side-bar">
    <div class="side-bar-in">
      <ul class="tab">
        <li class="title vtitle">
          <a href="#" class="lianxi"></a>
        </li>
        <li class="title">
          <a href="#" class="heart"></a>
        </li>
        <li class="title">
          <a href="#" class="setting"></a>
        </li>
        <div class="vcon" id="vcon" style="display:block;">
          <ul>
            <li>
              <div class="pic"><img src="../images/doctor2.png" alt=""><span class="tis">10</span></div>
              <span>
                <h4>张美芳</h4>
                <p>厦门市第一医院</p>
              </span>
              <a href="#" class="v-big"></a>
            </li>
            <li class="xuanz">
              <div class="pic"><img src="../images/doctor5.png" alt=""><span class="tis">10</span></div>
              <span>
                <h4>刘志泽</h4>
                <p>厦门市第二医院</p>
              </span>
              <a href="#" class="v-big"></a>
            </li>
            <li>
              <div class="pic"><img src="../images/doctor3.png" alt=""><span class="tis">10</span></div>
              <span>
                <h4>赵美美</h4>
                <p>厦门市中山医院</p>
              </span>
              <a href="#" class="v-big"></a>
            </li>
            <li>
              <div class="pic"><img src="../images/doctor6.png" alt=""></div>
              <span>
                <h4>王泽军</h4>
                <p>海沧医院</p>
              </span>
              <a href="#" class="v-big"></a>
            </li>
            <li>
              <div class="pic"><img src="../images/doctor4.png" alt=""><span class="tis">10</span></div>
              <span>
                <h4>白丽兰</h4>
                <p>海军总医院</p>
              </span>
              <a href="#" class="v-big"></a>
            </li><li>
              <div class="pic"><img src="../images/doctor7.png" alt=""><span class="tis">10</span></div>
              <span>
                <h4>何平安</h4>
                <p>福建医科大学附属医院</p>
              </span>
              <a href="#" class="v-big"></a>
            </li>
            <li>
              <div class="pic"><img src="../images/doctor2.png" alt=""><span class="tis">10</span></div>
              <span>
                <h4>刘晶晶</h4>
                <p>武警医院</p>
              </span>
              <a href="#" class="v-big"></a>
            </li>
            <li>
              <div class="pic"><img src="../images/doctor5.png" alt=""><span class="tis">10</span></div>
              <span>
                <h4>唐逸汸</h4>
                <p>福建省立医院院</p>
              </span>
              <a href="#" class="v-big"></a>
            </li>
          </ul>
        </div>
        <div class="vcon">2</div>
        <div class="vcon">
          <div class="block">
            <span>背景颜色选择</span>
            <a href="#" class="dot" id="blue"><img src="../images/blue_dot.png" width="14" height="14" alt="" /></a>
            <a href="#" class="dot" id="pink"><img src="../images/pink_dot.png" width="14" height="14" alt="" /></a>
            <a href="#" class="dot" id="green"><img src="../images/green_dot.png" width="14" height="14" alt="" /></a>
          </div>
          <div class="block">
            <span>显示不在线医生</span>
            <a href="#" class="off" id="off"></a>
          </div>
          <div class="block">
            <span>消息提示</span>
            <a href="#" class="open" id="open"></a>
          </div>
        </div>
      </ul>
    </div>
  </div>
  <!--左侧栏begin-->
  <div class="left-bar" id="left-bar">
    <ul>
      <li><a href="#" class="synergy">医技协同<em>医技协同</em></a></li>
      <li><a href="#" class="movie">影像诊断<em>影像诊断</em></a></li>
      <li><a href="#" class="computer">预约协同<em>预约协同</em></a></li>
      <li><a href="#" class="drug">预交金管理<em>预交金管理</em></a></li>
      <li><a href="#" class="results">个人绩效<em>个人绩效</em></a></li>
    </ul>
  </div>
  <!--左侧栏end-->
  <!--模块-->
  <div class="apply" id="">
    <div class="app-top">
      <div class="appmenu"><span class="depart">科室：放射科</span></div>
      <div class="appmenu">
        <label>申请时间：</label>
        <div class="dep">
          <span class="select_t">2014-06-09</span>
          <a href="#"></a>
          <ul class="option">
           <li>2014-06-10</li>
          </ul>
        </div>
      </div>
      <div class="appmenu">
        <label>患者卡号：</label>
        <div class="dep">
          <span class="select_t">核磁共振成像</span>
          <a href="#"></a>
          <ul class="option">
           <li>B超</li>
           <li>X光片扫描</li>
          </ul>
        </div>
      </div>
      <div class="appmenu">
        <label>患者姓名：</label>
        <div class="dep">
          <span class="select_t">核磁共振成像</span>
          <a href="#"></a>
          <ul class="option">
           <li>B超</li>
           <li>X光片扫描</li>
          </ul>
        </div>
      </div>
      <div class="appmenu">
        <label>状态：</label>
        <div class="dep">
          <span class="select_t">已诊断</span>
          <a href="#"></a>
          <ul class="option">
           <li>已诊断</li>
           <li>未诊断</li>
          </ul>
        </div>
      </div>
      <div class="appmenu">
        <a href="#" class="search-btn">
          <img src="../images/search.png" width="17" height="18" alt="" />
        <span>查&nbsp;询<em>查&nbsp;询</em></span>
        </a>
      </div>
    </div>
    <!---->
    <div class="app-con">
      <div class="qietab">
        <div class="qiehuan qiegreen">未诊断</div>
        <div class="qiehuan">已诊断</div>
      </div>
      <!--表格-->
      <div class="app-grid">
        <div class="t-head">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td class="riqi">&nbsp;</td>
              <td class="riqi">时间</td>
              <td class="lx">患者卡号</td>
              <td class="dec">病情描述</td>
              <td class="riqi">紧急程度</td>
              <td class="riqi">状态</td>
              <td>状态</td>
            </tr>
          </table>
        </div>
        <div class="t-con">
         <div class="t-con1">
           <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr class="biao">
              <td class="riqi"><input name="" type="checkbox" value="" class="fxk" /></td>
              <td class="riqi">2014-06-09</td>
              <td class="lx">362411122</td>
              <td class="dec">脑部重创，颈部以上瘫痪..</td>
              <td class="riqi">一般</td>
              <td class="riqi">等待诊断</td>
              <td><a href="#" class="receive"></a></td>
            </tr>
            <tr class="biao">
              <td><input name="" type="checkbox" value="" class="fxk" /></td>
              <td>2014-06-09</td>
              <td class="lx">362411122</td>
              <td>脑部重创，颈部以上瘫痪..</td>
              <td>一般</td>
              <td>等待诊断</td>
              <td><a href="#" class="receive"></a></td>
            </tr>
            <tr class="biao">
              <td><input name="" type="checkbox" value="" class="fxk" /></td>
              <td>2014-06-09</td>
              <td>362411122</td>
              <td>脑部重创，颈部以上瘫痪..</td>
              <td>一般</td>
              <td>等待诊断</td>
              <td><a href="#" class="receive"></a></td>
            </tr>
            <tr class="biao">
              <td><input name="" type="checkbox" value="" class="fxk" /></td>
              <td>2014-06-09</td>
              <td>362411122</td>
              <td>脑部重创，颈部以上瘫痪..</td>
              <td>一般</td>
              <td>等待诊断</td>
              <td><a href="#" class="receive"></a></td>
            </tr>
            <tr class="biao">
              <td><input name="" type="checkbox" value="" class="fxk" /></td>
              <td>2014-06-09</td>
              <td>362411122</td>
              <td>脑部重创，颈部以上瘫痪..</td>
              <td>一般</td>
              <td>等待诊断</td>
              <td><a href="#" class="receive"></a></td>
            </tr>
            <tr class="biao">
              <td><input name="" type="checkbox" value="" class="fxk" /></td>
              <td>2014-06-09</td>
              <td>362411122</td>
              <td>脑部重创，颈部以上瘫痪..</td>
              <td>一般</td>
              <td>等待诊断</td>
              <td><a href="#" class="receive"></a></td>
            </tr>
            <tr class="biao">
              <td><input name="" type="checkbox" value="" class="fxk" /></td>
              <td>2014-06-09</td>
              <td>362411122</td>
              <td>脑部重创，颈部以上瘫痪..</td>
              <td>一般</td>
              <td>等待诊断</td>
              <td><a href="#" class="receive"></a></td>
            </tr>
            <tr class="biao">
              <td><input name="" type="checkbox" value="" class="fxk" /></td>
              <td>2014-06-09</td>
              <td>362411122</td>
              <td>脑部重创，颈部以上瘫痪..</td>
              <td>一般</td>
              <td>等待诊断</td>
              <td><a href="#" class="receive"></a></td>
            </tr>
            <tr class="biao">
              <td><input name="" type="checkbox" value="" class="fxk" /></td>
              <td>2014-06-09</td>
              <td>362411122</td>
              <td>脑部重创，颈部以上瘫痪..</td>
              <td>一般</td>
              <td>等待诊断</td>
              <td><a href="#" class="receive"></a></td>
            </tr>
            <tr class="biao">
              <td><input name="" type="checkbox" value="" class="fxk" /></td>
              <td>2014-06-09</td>
              <td>362411122</td>
              <td>脑部重创，颈部以上瘫痪..</td>
              <td>一般</td>
              <td>等待诊断</td>
              <td><a href="#" class="receive"></a></td>
            </tr>
            <tr class="biao">
              <td><input name="" type="checkbox" value="" class="fxk" /></td>
              <td>2014-06-09</td>
              <td>362411122</td>
              <td>脑部重创，颈部以上瘫痪..</td>
              <td>一般</td>
              <td>等待诊断</td>
              <td><a href="#" class="receive"></a></td>
            </tr>
            <tr class="biao">
              <td><input name="" type="checkbox" value="" class="fxk" /></td>
              <td>2014-06-09</td>
              <td>362411122</td>
              <td>脑部重创，颈部以上瘫痪..</td>
              <td>一般</td>
              <td>等待诊断</td>
              <td><a href="#" class="receive"></a></td>
            </tr>
            <tr class="biao">
              <td><input name="" type="checkbox" value="" class="fxk" /></td>
              <td>2014-06-09</td>
              <td>362411122</td>
              <td>脑部重创，颈部以上瘫痪..</td>
              <td>一般</td>
              <td>等待诊断</td>
              <td><a href="#" class="receive"></a></td>
            </tr>
            <tr class="biao">
              <td><input name="" type="checkbox" value="" class="fxk" /></td>
              <td>2014-06-09</td>
              <td>362411122</td>
              <td>脑部重创，颈部以上瘫痪..</td>
              <td>一般</td>
              <td>等待诊断</td>
              <td><a href="#" class="receive"></a></td>
            </tr>
            <tr class="biao">
              <td><input name="" type="checkbox" value="" class="fxk" /></td>
              <td>2014-06-09</td>
              <td>362411122</td>
              <td>脑部重创，颈部以上瘫痪..</td>
              <td>一般</td>
              <td>等待诊断</td>
              <td><a href="#" class="receive"></a></td>
            </tr>
            <tr class="biao">
              <td><input name="" type="checkbox" value="" class="fxk" /></td>
              <td>2014-06-09</td>
              <td>362411122</td>
              <td>脑部重创，颈部以上瘫痪..</td>
              <td>一般</td>
              <td>等待诊断</td>
              <td><a href="#" class="receive"></a></td>
            </tr>
            <tr class="biao">
              <td><input name="" type="checkbox" value="" class="fxk" /></td>
              <td>2014-06-09</td>
              <td>362411122</td>
              <td>脑部重创，颈部以上瘫痪..</td>
              <td>一般</td>
              <td>等待诊断</td>
              <td><a href="#" class="receive"></a></td>
            </tr>
            <tr class="biao">
              <td><input name="" type="checkbox" value="" class="fxk" /></td>
              <td>2014-06-09</td>
              <td>362411122</td>
              <td>脑部重创，颈部以上瘫痪..</td>
              <td>一般</td>
              <td>等待诊断</td>
              <td><a href="#" class="receive"></a></td>
            </tr>
            <tr class="biao">
              <td><input name="" type="checkbox" value="" class="fxk" /></td>
              <td>2014-06-09</td>
              <td>362411122</td>
              <td>脑部重创，颈部以上瘫痪..</td>
              <td>一般</td>
              <td>等待诊断</td>
              <td><a href="#" class="receive"></a></td>
            </tr>
            <tr class="biao">
              <td><input name="" type="checkbox" value="" class="fxk" /></td>
              <td>2014-06-09</td>
              <td>362411122</td>
              <td>脑部重创，颈部以上瘫痪..</td>
              <td>一般</td>
              <td>等待诊断</td>
              <td><a href="#" class="receive"></a></td>
            </tr>
            <tr class="biao">
              <td><input name="" type="checkbox" value="" class="fxk" /></td>
              <td>2014-06-09</td>
              <td>362411122</td>
              <td>脑部重创，颈部以上瘫痪..</td>
              <td>一般</td>
              <td>等待诊断</td>
              <td><a href="#" class="receive"></a></td>
            </tr>
            <tr class="biao">
              <td><input name="" type="checkbox" value="" class="fxk" /></td>
              <td>2014-06-09</td>
              <td>362411122</td>
              <td>脑部重创，颈部以上瘫痪..</td>
              <td>一般</td>
              <td>等待诊断</td>
              <td><a href="#" class="receive"></a></td>
            </tr>
            <tr class="biao">
              <td><input name="" type="checkbox" value="" class="fxk" /></td>
              <td>2014-06-09</td>
              <td>362411122</td>
              <td>脑部重创，颈部以上瘫痪..</td>
              <td>一般</td>
              <td>等待诊断</td>
              <td><a href="#" class="receive"></a></td>
            </tr>
            <tr class="biao">
              <td><input name="" type="checkbox" value="" class="fxk" /></td>
              <td>2014-06-09</td>
              <td>362411122</td>
              <td>脑部重创，颈部以上瘫痪..</td>
              <td>一般</td>
              <td>等待诊断</td>
              <td><a href="#" class="receive"></a></td>
            </tr>
          </table>
        </div>
        </div>
        <div  class="t-con" style="display:none;">
         <div class="t-con1">
           <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr class="biao">
              <td class="riqi"><input name="" type="checkbox" value="" class="fxk" /></td>
              <td class="riqi">2014-06-09</td>
              <td class="lx">362411122</td>
              <td class="dec">脑部重创，颈部以上瘫过复核表规范皇贵妃痪..</td>
              <td class="riqi">一般</td>
              <td class="riqi">等待诊断</td>
              <td><a href="#" class="receive"></a></td>
            </tr>
            <tr class="biao">
              <td><input name="" type="checkbox" value="" class="fxk" /></td>
              <td>2014-06-09</td>
              <td>362411122</td>
              <td>脑部重创，颈部以上瘫痪..</td>
              <td>一般</td>
              <td>等待诊断</td>
              <td><a href="#" class="receive"></a></td>
            </tr>
            <tr class="biao">
              <td><input name="" type="checkbox" value="" class="fxk" /></td>
              <td>2014-06-09</td>
              <td>362411122</td>
              <td>脑部重创，颈部以上瘫痪..</td>
              <td>一般</td>
              <td>等待诊断</td>
              <td><a href="#" class="receive"></a></td>
            </tr>
            <tr class="biao">
              <td><input name="" type="checkbox" value="" class="fxk" /></td>
              <td>2014-06-09</td>
              <td>362411122</td>
              <td>脑部重创，颈部以上瘫痪..</td>
              <td>一般</td>
              <td>等待诊断</td>
              <td><a href="#" class="receive"></a></td>
            </tr>
            <tr class="biao">
              <td><input name="" type="checkbox" value="" class="fxk" /></td>
              <td>2014-06-09</td>
              <td>362411122</td>
              <td>脑部重创，颈部以上瘫痪..</td>
              <td>一般</td>
              <td>等待诊断</td>
              <td><a href="#" class="receive"></a></td>
            </tr>
            <tr class="biao">
              <td><input name="" type="checkbox" value="" class="fxk" /></td>
              <td>2014-06-09</td>
              <td>362411122</td>
              <td>脑部重创，颈部以上瘫痪..</td>
              <td>一般</td>
              <td>等待诊断</td>
              <td><a href="#" class="receive"></a></td>
            </tr>
            <tr class="biao">
              <td><input name="" type="checkbox" value="" class="fxk" /></td>
              <td>2014-06-09</td>
              <td>362411122</td>
              <td>脑部重创，颈部以上瘫痪..</td>
              <td>一般</td>
              <td>等待诊断</td>
              <td><a href="#" class="receive"></a></td>
            </tr>
            <tr class="biao">
              <td><input name="" type="checkbox" value="" class="fxk" /></td>
              <td>2014-06-09</td>
              <td>362411122</td>
              <td>脑部重创，颈部以上瘫痪..</td>
              <td>一般</td>
              <td>等待诊断</td>
              <td><a href="#" class="receive"></a></td>
            </tr>
            <tr class="biao">
              <td><input name="" type="checkbox" value="" class="fxk" /></td>
              <td>2014-06-09</td>
              <td>362411122</td>
              <td>脑部重创，颈部以上瘫痪..</td>
              <td>一般</td>
              <td>等待诊断</td>
              <td><a href="#" class="receive"></a></td>
            </tr>
            <tr class="biao">
              <td><input name="" type="checkbox" value="" class="fxk" /></td>
              <td>2014-06-09</td>
              <td>362411122</td>
              <td>脑部重创，颈部以上瘫痪..</td>
              <td>一般</td>
              <td>等待诊断</td>
              <td><a href="#" class="receive"></a></td>
            </tr>
            <tr class="biao">
              <td><input name="" type="checkbox" value="" class="fxk" /></td>
              <td>2014-06-09</td>
              <td>362411122</td>
              <td>脑部重创，颈部以上瘫痪..</td>
              <td>一般</td>
              <td>等待诊断</td>
              <td><a href="#" class="receive"></a></td>
            </tr>
            <tr class="biao">
              <td><input name="" type="checkbox" value="" class="fxk" /></td>
              <td>2014-06-09</td>
              <td>362411122</td>
              <td>脑部重创，颈部以上瘫痪..</td>
              <td>一般</td>
              <td>等待诊断</td>
              <td><a href="#" class="receive"></a></td>
            </tr>
            <tr class="biao">
              <td><input name="" type="checkbox" value="" class="fxk" /></td>
              <td>2014-06-09</td>
              <td>362411122</td>
              <td>脑部重创，颈部以上瘫痪..</td>
              <td>一般</td>
              <td>等待诊断</td>
              <td><a href="#" class="receive"></a></td>
            </tr>
            <tr class="biao">
              <td><input name="" type="checkbox" value="" class="fxk" /></td>
              <td>2014-06-09</td>
              <td>362411122</td>
              <td>脑部重创，颈部以上瘫痪..</td>
              <td>一般</td>
              <td>等待诊断</td>
              <td><a href="#" class="receive"></a></td>
            </tr>
            <tr class="biao">
              <td><input name="" type="checkbox" value="" class="fxk" /></td>
              <td>2014-06-09</td>
              <td>362411122</td>
              <td>脑部重创，颈部以上瘫痪..</td>
              <td>一般</td>
              <td>等待诊断</td>
              <td><a href="#" class="receive"></a></td>
            </tr>
            <tr class="biao">
              <td><input name="" type="checkbox" value="" class="fxk" /></td>
              <td>2014-06-09</td>
              <td>362411122</td>
              <td>脑部重创，颈部以上瘫痪..</td>
              <td>一般</td>
              <td>等待诊断</td>
              <td><a href="#" class="receive"></a></td>
            </tr>
            <tr class="biao">
              <td><input name="" type="checkbox" value="" class="fxk" /></td>
              <td>2014-06-09</td>
              <td>362411122</td>
              <td>脑部重创，颈部以上瘫痪..</td>
              <td>一般</td>
              <td>等待诊断</td>
              <td><a href="#" class="receive"></a></td>
            </tr>
            <tr class="biao">
              <td><input name="" type="checkbox" value="" class="fxk" /></td>
              <td>2014-06-09</td>
              <td>362411122</td>
              <td>脑部重创，颈部以上瘫痪..</td>
              <td>一般</td>
              <td>等待诊断</td>
              <td><a href="#" class="receive"></a></td>
            </tr>
            <tr class="biao">
              <td><input name="" type="checkbox" value="" class="fxk" /></td>
              <td>2014-06-09</td>
              <td>362411122</td>
              <td>脑部重创，颈部以上瘫痪..</td>
              <td>一般</td>
              <td>等待诊断</td>
              <td><a href="#" class="receive"></a></td>
            </tr>
            <tr class="biao">
              <td><input name="" type="checkbox" value="" class="fxk" /></td>
              <td>2014-06-09</td>
              <td>362411122</td>
              <td>脑部重创，颈部以上瘫痪..</td>
              <td>一般</td>
              <td>等待诊断</td>
              <td><a href="#" class="receive"></a></td>
            </tr>
            <tr class="biao">
              <td><input name="" type="checkbox" value="" class="fxk" /></td>
              <td>2014-06-09</td>
              <td>362411122</td>
              <td>脑部重创，颈部以上瘫痪..</td>
              <td>一般</td>
              <td>等待诊断</td>
              <td><a href="#" class="receive"></a></td>
            </tr>
            <tr class="biao">
              <td><input name="" type="checkbox" value="" class="fxk" /></td>
              <td>2014-06-09</td>
              <td>362411122</td>
              <td>脑部重创，颈部以上瘫痪..</td>
              <td>一般</td>
              <td>等待诊断</td>
              <td><a href="#" class="receive"></a></td>
            </tr>
            <tr class="biao">
              <td><input name="" type="checkbox" value="" class="fxk" /></td>
              <td>2014-06-09</td>
              <td>362411122</td>
              <td>脑部重创，颈部以上瘫痪..</td>
              <td>一般</td>
              <td>等待诊断</td>
              <td><a href="#" class="receive"></a></td>
            </tr>
            <tr class="biao">
              <td><input name="" type="checkbox" value="" class="fxk" /></td>
              <td>2014-06-09</td>
              <td>362411122</td>
              <td>脑部重创，颈部以上瘫痪..</td>
              <td>一般</td>
              <td>等待诊断</td>
              <td><a href="#" class="receive"></a></td>
            </tr>
          </table>
        </div>
        </div>
		<!--页码-->
        <div class="page">
          <div class="allselect">
            <input name="" type="checkbox" value="" class="allsel"/>
            <label class="alltext">全选</label>
            <a href="#" class="allrecevie"></a>
          </div>
          <div class="pagein">
            <a href="#" class="lastpage"></a>
            <a href="#" class="nextpage"></a>
            <span>第<em>3</em>页，共<em>5</em>页</span>
            <a href="#" class="prevpage"></a>
            <a href="#" class="firstpage"></a>
          </div>
        </div>
      </div>
      
    </div>
    
  </div>
</div>
<!--主内容结束-->
</body>

<script src="../js/jquery-1.7.1.min.js" language="javascript" type="text/javascript"></script>
<script src="../js/jquery.mousewheel.js" type="text/javascript"></script>
<script src="../js/jquery.jscrollpane.min.js" type="text/javascript"></script>
<script type="text/javascript" src="../js/jquery.event.drag-1.5.min.js"></script>
<script type="text/javascript" src="../js/jquery.touchSlider.js"></script>
<script type="text/javascript" src="../js/jquery.nicescroll.js"></script>
<script src="../js/slide.js" language="javascript" type="text/javascript"></script>
<!--[if IE 6]> <script src="../js/EvPng.js" type="text/javascript"></script> 
<script language="javascript" type="text/javascript"> 
EvPNG.fix("*");
</script> 
<![endif]-->
<script type="text/javascript">
        $(function () {
           // $("tbody>tr:even").addClass("even");  /*给奇数行添加样式*/
           // $("tbody>tr:odd").addClass("odd");  /*偶数行添加样式*/

            /*把单击行时，如果行处于没选中状态，则把样式设为选中状态
            ，当中的复选框设为选中状态；否则，移除选中状态，取消选中状态*/
            $("tbody>tr").click(function () {

                if ($(this).hasClass("v02")) {
                    $(this).removeClass("v02")
                    .find(":checkbox").attr("checked", false);
                }
                else {
                    $(this).addClass("v02")
                    .find(":checkbox").attr("checked", true);
                }
            });
        });
    </script>

</html>

