@charset "utf-8";

/* CSS Document */
*html {
  overflow-y: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  overflow-y: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  border: none;
}

h1,
h2,
h3,
h4 {
  font-family: "微软雅黑";
  font-weight: normal;
  margin: 0;
}

em {
  font-style: normal;
}

input {
  outline: none;
}

.clear {
  clear: both;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.background img {
  width: 100%;
  height: 100%;
  min-width: 1345px;
  min-height: 768px;
  _width: expression((document.documentElement.clientWidth||document.body.clientWidth)<1345?"1345px":"");
}

.logo {
  width: 190px;
  height: 55px;
  position: absolute;
  bottom: 36px;
  right: 58px;
  background: url(../images/logo.png) no-repeat;
}

.*background img {
  overflow: hidden;
}

/****容器***/
#container {
  width: 100%;
  min-width: 1345px;
  _width: expression((document.documentElement.clientWidth||document.body.clientWidth)<1345?"1345px":"");
  position: relative;
}

#head {
  height: 51px;
  background: url(../images/head_bg.png) repeat-x;
  font-family: "微软雅黑";
}

#head .arrange {
  width: 107px;
  height: 51px;
  float: left;
  background: url(../images/list_btn.png) no-repeat 35px center;
}

#head .yij {
  float: left;
  width: 216px;
  height: 51px;
  border-right: 1px solid #abc3d7;
  border-left: 1px solid #abc3d7;
}

#head .yij a {
  display: block;
  height: 48px;
  border: 1px solid #cffcfd;
  background: url(../images/yj.png) no-repeat 33px 11px #d8e6f1;
  padding-left: 74px;
  font-size: 16px;
  color: #758a9e;
  line-height: 48px;
  text-decoration: none;
}

#head .yij a.making {
  background: url(../images/bi_ico.png) no-repeat 33px 11px #d8e6f1;
}

#head .h-right {
  height: 51px;
  float: right;
}

#head .h-right img {
  float: left;
}

#head .h-right a.bell {
  width: 20px;
  height: 18px;
  position: relative;
  padding-right: 24px;
  float: left;
  margin: 20px 0 0 15px;
  background: url(../images/bell.png) no-repeat;
  display: block;
  text-decoration: none;
}

#head .h-right a.bell .tip {
  width: 17px;
  height: 16px;
  position: absolute;
  top: -2px;
  left: 18px;
  background: url(../images/tip.png) no-repeat;
  font-size: 10px;
  color: #fff;
  text-align: center;
  line-height: 16px;
}

#head .h-right a.cloud {
  width: 20px;
  height: 25px;
  margin: 20px 20px 0;
  float: left;
  background: url(../images/cloud.png) no-repeat;
  display: block;
  float: left;
  position: relative;
  text-decoration: none;
}

#head .h-right a.cloud:hover {
  background: url(../images/hei_cloud.png) no-repeat;
}

#head .h-right a.cloud .same {
  font-size: 12px;
  padding: 0 20px;
  height: 23px;
  line-height: 23px;
  position: absolute;
  left: -19px;
  top: 20px;
  background: #fff;
  border: 1px solid #cedddd;
  white-space: nowrap;
  text-decoration: none;
  color: #000;
  display: none;
}

#head .h-right a.set {
  width: 20px;
  height: 25px;
  margin: 20px 20px 0;
  float: left;
  display: block;
  float: left;
  position: relative;
  text-decoration: none;
  background: url(../images/set.png) no-repeat;
}

#head .h-right a.notice {
  width: 20px;
  height: 25px;
  margin: 20px 20px 0;
  float: left;
  margin: 20px 21px 0 25px;
  background: url(../images/info.png) no-repeat;
  display: block;
  position: relative;
  text-decoration: none;
}

#head .h-right a.home {
  width: 20px;
  height: 25px;
  margin: 20px 20px 0;
  float: left;
  display: block;
  float: left;
  position: relative;
  text-decoration: none;
  background: url(../images/home.png) no-repeat;
}

#head .h-right .user {
  float: left;
  padding: 0px 20px 0;
}

#head .h-right .user .pho {
  width: 52px;
  height: 50px;
  float: left;
}

#head .h-right .user span {
  height: 32px;
  font-size: 14px;
  color: #556677;
  float: left;
  padding: 0 15px 0 16px;
  background: url(../images/drop.png) no-repeat right 8px;
  margin-top: 18px;
  text-decoration: none;
  position: relative;
  z-index: 55555;
}

/***用户弹窗******/
.user-info {
  width: 163px;
  height: 158px;
  position: absolute;
  top: 20px;
  left: -53px;
  display: none;
}

.user-info .jtt {
  height: 13px;
  background: url(../images/user_info_bg.png) no-repeat 123px 0px;
  position: relative;
  z-index: 111;
  display: block;
  top: 1px;
  font-size: 0;
}

.user-info .menu {
  width: 161px;
  height: 144px;
  border: 1px solid #cedddd;
  background: #fff;
  z-index: 4;
  font-family: "宋体";
  font-size: 12px;
}

.user-info .menu .first {
  height: 47px;
  margin: 0 12px;
  background: url(../images/user_sub.png) no-repeat 10px 20px;
}

.user-info .menu .first a {
  color: #717171;
  padding: 20px 0 0 33px;
  display: inline-block;
  text-decoration: none;
}

.user-info .menu .second {
  height: 47px;
  margin: 0 12px;
  border-bottom: 1px solid #e0e0e0;
  background: url(../images/bell_have.png) no-repeat 10px 8px;
}

.user-info .menu .second a {
  color: #717171;
  padding: 12px 12px 0 36px;
  display: inline-block;
  position: relative;
  text-decoration: none;
}

.user-info .menu .second a em {
  width: 18px;
  height: 18px;
  text-align: center;
  line-height: 18px;
  position: absolute;
  top: 9px;
  right: -18px;
  color: #fff;
  font-style: normal;
  background: url(../images/tiip_big.png) no-repeat;
}

.user-info .menu a.quit {
  height: 20px;
  padding: 16px 0 0 26px;
  color: #717171;
  background: url(../images/quit.png) no-repeat 125px 14px;
  text-decoration: none;
  display: block;
}


/****main*****/
#main {
  width: 1243px;
  margin: 55px auto 0;
  position: relative;
}

#mid {
  width: 1243px;
  margin: 55px auto 0;
  overflow: hidden;
  position: relative;
}

#middle {
  padding: 55px 53px 0;
  background: #fff;
}

/****left-side*******/
.left-side {
  position: relative;
  width: 952px;
  float: left;
}

.right-side {
  float: right;
  width: 258px;
}

.mode {
  width: 458px;
  height: 506px;
  float: left;
  margin-right: 13px;
}

.slide {
  width: 221px;
  height: 332px;
  margin-right: 13px;
  _margin-right: 13px;
  overflow: hidden;
  float: left;
  position: relative;
}

.slide #slides {
  height: 100%;
  overflow: hidden;
  position: relative;
}

.slide #slides .scroimg {
  height: 330px;
  left: 221px;
  margin: 0;
  position: absolute;
  width: 221px;
}

.slide #slides img {
  width: 221px;
}

.slide #pagination {
  height: 12px;
  left: 50%;
  margin-left: -45px;
  overflow: hidden;
  position: absolute;
  text-align: center;
  top: 287px;
  width: 100px;
  z-index: 5;
  display: none;
}

.slide #pagination span {
  cursor: pointer;
  float: left;
  font-size: 0;
  line-height: 0;
  margin: 0 3px;
  overflow: hidden;
  padding: 6px;
}

.slide #pagination span.current {}

.slide #next,
#prev {
  cursor: pointer;
  display: block;
  height: 30px;
  position: absolute;
  top: 130px;
  width: 30px;
  z-index: 2;
  background: url(../images/left.png) no-repeat;
}

.slide #prev {
  left: 0px;
}

.slide #next {
  background-position: 0px -30px;
  right: 0px;
}

.slide #next:hover {}

.slide #prev:hover {}

.slide .txt {
  width: 221px;
  height: 34px;
  background: url(../images/scrotext_bg.png) repeat;
  position: absolute;
  bottom: 1px;
  left: 0;
}

.scrotext {
  bottom: 0px;
  height: 34px;
  left: 0;
  padding: 0 0 0 8px;
  position: absolute;
  top: auto;
  width: 221px;
  z-index: 1;
}

.scrotext h4 {
  width: 173px;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.scrotext a {
  color: #fff;
  font-size: 12px;
  line-height: 35px;
  text-decoration: none;
  font-family: "微软雅黑";
}

.scrotext a:hover {
  color: #fff;
}

.scrotext p {
  line-height: 20px;
  margin: 0;
  display: none;
}

.mode .light-r {
  background: #e55953;
  width: 224px;
  height: 158px;
  margin-bottom: 13px;
  overflow: hidden;
}

.mode .light-r h2 {
  font-size: 20px;
  color: #fff;
  padding: 20px 0 0 28px;
  font-family: "微软雅黑";
}

.mode .light-r .icon {
  width: 67px;
  height: 77px;
  margin: 10px 28px 0 123px;
  background: url(../images/synergys.png) no-repeat;
  overflow: hidden;
}

.mode .red {
  background: #e53854;
  width: 224px;
}

.mode .red h2 {
  font-size: 20px;
  color: #fff;
  padding: 20px 0 0 28px;
  font-family: "微软雅黑";
}

.mode .red .icon {
  width: 62px;
  height: 62px;
  margin: 20px 28px 0 123px;
  background: url(../images/drugm.png) no-repeat;
  overflow: hidden;
}

.mode .model-in {
  height: 158px;
  margin-right: 13px;
  background: #d9544f;
}

.mode .deep-b {
  height: 158px;
  clear: both;
  background: #216ccf;
  margin: 0 0 0 0;
}

.mode .deep-b .messagge {
  float: left;
  width: 265px;
  padding: 24px 0 0 0;
}

.mode .deep-b .messagge h2 {
  height: 31px;
  font-size: 20px;
  color: #fff;
  padding-left: 65px;
  background: url(../images/keshibb.png) no-repeat 30px 4px;
}

.mode .deep-b .messagge p {
  color: #fff;
  font-family: "微软雅黑";
  padding-left: 30px;
  line-height: 1.6;
}

.mode .deep-b .bbs {
  width: 117px;
  height: 115px;
  float: right;
  margin: 16px 50px 0 0;
}

.mode .light-b {
  width: 224px;
  height: 158px;
  background: #009cee;
  margin: 0 13px 13px 0;
  float: left;
}

.mode .light-b h2 {
  font-size: 20px;
  color: #fff;
  padding: 20px 0 0 28px;
  font-family: "微软雅黑";
}

.mode .light-b .icon {
  width: 76px;
  height: 75px;
  margin: 6px 28px 0 123px;
  background: url(../images/swf.png) no-repeat;
  overflow: hidden;
}

.mode .green {
  width: 224px;
  height: 158px;
  background: #19b99a;
  float: left;
}

.mode .green h2 {
  font-size: 20px;
  color: #fff;
  padding: 20px 0 0 28px;
  font-family: "微软雅黑";
}

.mode .green .icon {
  width: 81px;
  height: 72px;
  margin: 6px 28px 0 123px;
  background: url(../images/pc.png) no-repeat;
  overflow: hidden;
  float: right;
}

.mode .light-g {
  height: 329px;
  clear: both;
  background: #e6fdff;
  margin: 0 0 0 0;
}

.m-right {
  margin: 0 !important;
  width: 461px;
  height: 506px;
  float: left;
}

.mode .square {
  width: 458px !important;
  height: 506px !important;
}

.mode .square li {
  float: left;
  width: 224px !important;
  height: 158px !important;
  position: relative;
  margin-bottom: 13px;
}

.mode .square li .img {}

.mode .square li span {
  width: 224px;
  height: 158px;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
  display: none;
}

.mode .square li.lv {
  margin-right: 13px;
}

.mode .square li.orange {
  margin-right: 13px;
}

.m-right .square {
  width: 461px !important;
  height: 506px !important;
  position: relative !important;
}

.m-right .square li {
  float: left;
  width: 224px !important;
  height: 158px !important;
  position: relative;
  margin-bottom: 13px;
}

.m-right .square li .img {}

.m-right .square li span {
  width: 224px;
  height: 158px;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
  display: none;
}

.m-right .square li.lan {
  margin-right: 13px;
}

.date {
  width: 258px;
  margin-bottom: 13px;
  background: url(../images/date_bg.png) repeat;
  _position: relative;
  z-index: 1;
  _overflow: hidden;
}

.date .d-top {
  height: 42px;
  background: #8093a6;
  position: relative;
  font-family: "微软雅黑";
  font-size: 14px;
  color: #fff;
  text-align: center;
  line-height: 42px;
}

.date .d-top span {
  display: inline-block;
  margin: 0 auto;
  background: url(../images/date_ico.png) no-repeat 0 12px;
  padding: 0 0 0 27px;
}

.date .d-top h2 {
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  background: url(../images/user.png) no-repeat 15px 14px;
  padding: 0 7px 0 40px;
  line-height: 42px;
  text-align: left;
  float: left;
  position: relative;
}

.date .d-top h2 .r-dot {
  width: 6px;
  height: 6px;
  position: absolute;
  top: 12px;
  right: 0px;
  background: url(../images/red.png) no-repeat;
}

.date .d-top a.prev {
  width: 18px;
  height: 18px;
  background: url(../images/prev.png) no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  margin: 12px 0 0 17px;
  display: block;
}

.date .d-top a.next {
  width: 18px;
  height: 18px;
  background: url(../images/next.png) no-repeat;
  position: absolute;
  right: 0;
  top: 0;
  margin: 12px 14px 0 0px;
  display: block;
}

.date .d-top a.add {
  width: 18px;
  height: 18px;
  background: url(../images/add.png) no-repeat;
  position: absolute;
  right: 0;
  top: 0;
  margin: 12px 14px 0 0px;
  display: block;
}

.date .d-con {
  min-height: 95px;
}

.date .today {
  float: left;
  font-family: "微软雅黑";
  font-size: 72px;
  color: #fff;
  padding: 1px 0 0 47px;
}

.date a.cheat {
  width: 72px;
  height: 66px;
  float: right;
  padding: 15px 14px 0 0;
  display: block;
}

/******常用联系人**********/
.contact {
  height: 229px;
  position: relative;
  overflow: hidden;
}

.contact ul li {
  position: relative;
}

.contact ul li div {
  height: 50px;
  margin: 0 17px;
  border-bottom: 1px solid #879bae;
}

.contact ul li div .toux {
  width: 38px;
  height: 38px;
  -webkit-border-radius: 19px;
  -moz-border-radius: 19px;
  border-radius: 19px;
  float: left;
  background: #fff;
  margin: 7px 0 0 0;
  overflow: hidden;
}

.contact ul li div .name {
  float: left;
  padding: 0 14px 0 11px;
  background: url(../images/green.png) no-repeat right 24px;
  _background: url(../images/green.gif) no-repeat right 24px;
  line-height: 50px;
  font-family: "微软雅黑";
  color: #fff;
}

.contact ul li div .n-no {
  background: none;
}

.contact ul li div a.voice {
  width: 13px;
  height: 18px;
  float: right;
  margin: 17px 13px 0 15px;
  background: url(../images/voice.png) no-repeat;
}

.contact ul li div a.edtior {
  width: 16px;
  height: 16px;
  float: right;
  margin: 17px 0 0 0;
  background: url(../images/editor.png) no-repeat;
}

.contact ul li ul {
  height: 77px;
  display: block;
  background: #fff;
  margin: 0 1px;
  display: none;
}

.contact ul li ul textarea {
  width: 236px;
  height: 47px;
  border: none;
  overflow: auto;
  outline: none;
  padding: 5px 8px 0;
}

.contact ul li ul .textarea {
  border: 0;
  color: #c1c1c1;
  line-height: 1.5;
}

.contact ul li ul a.bar {
  padding-right: 35px;
  background: url(../images/mao.png) no-repeat right;
  font-size: 12px;
  color: #8093a6;
  float: right;
  text-decoration: none;
}

.contact ul li.xz a.edtior {
  background-position: 0 -16px;
}

.contact ul li.xz ul {
  display: block;
}

.contact ul li.last div {
  border-bottom: none;
}

/*****个人消息***************/
.infor {
  min-height: 54px;
}

.infor span {
  padding-left: 22px;
  line-height: 35px;
  color: #fff;
  font-size: 12px;
}

.xiaox {
  background: url(../images/xiaoxi.png) no-repeat 15px 14px !important;
}

/*****侧边栏-右***************/
.side-bar {
  width: 276px;
  background: url(../images/side_bar_bg.png) repeat;
  position: absolute;
  top: 51px;
  right: 0px;
  display: none;
  z-index: 99;
}

.side-bar-in {
  position: relative;
}

.side-bar .tab .title {
  width: 92px;
  height: 44px;
  float: left;
  background: url(../images/vtitle_bg.png) repeat;
}

.side-bar .tab .title a.setting {
  display: block;
  height: 44px;
  background: url(../images/set_hui.png) no-repeat center center;
}

.side-bar .tab .title a.heart {
  display: block;
  height: 44px;
  background: url(../images/heart_hui.png) no-repeat center center;
}

.side-bar .tab .title a.lianxi {
  display: block;
  height: 44px;
  background: url(../images/user_hui.png) no-repeat center center;
}

.side-bar .tab .title.vtitle {
  background: none;
}

.side-bar .tab .title.vtitle a.setting {
  display: block;
  height: 44px;
  background: url(../images/set_white.png) no-repeat center center;
}

.side-bar .tab .title.vtitle a.heart {
  display: block;
  height: 44px;
  background: url(../images/heart_white.png) no-repeat center center;
}

.side-bar .tab .title.vtitle a.lianxi {
  display: block;
  height: 44px;
  background: url(../images/user_white.png) no-repeat center center;
}

.side-bar .vcon {
  position: absolute;
  left: 0;
  top: 44px;
  display: none;
  width: 276px;
  padding: 22px 0px 0;
}

.side-bar .vcon .block {
  height: 58px;
  padding: 0 36px;
}

.side-bar .vcon .block span {
  float: left;
  font-size: 12px;
  color: #fff;
  padding: 0 24px 0 0;
  line-height: 58px;
}

.side-bar .vcon .block .dot {
  width: 14px;
  height: 14px;
  float: right;
  margin: 21px 8px 0;
}

.side-bar .vcon .block .off {
  width: 66px;
  height: 24px;
  display: block;
  background: url(../images/off.png) no-repeat;
  float: right;
  margin-top: 18px;
}

.side-bar .vcon .block .open {
  width: 66px;
  height: 24px;
  display: block;
  float: right;
  margin-top: 18px;
  background: url(../images/open.png) no-repeat;
}

.side-bar .vcon ul li {
  width: 276px;
  height: 74px;
  background: none;
}

.side-bar .vcon ul li .pic {
  width: 54px;
  height: 54px;
  -webkit-border-radius: 27px;
  -moz-border-radius: 27px;
  border-radius: 27px;
  float: left;
  margin: 9px 20px 0 22px;
  background: #fff;
  position: relative;
}

.side-bar .vcon ul li .pic .tis {
  width: 17px;
  height: 16px;
  position: absolute;
  top: 0;
  right: -8px;
  background: url(../images/tip.png) no-repeat;
  color: #fff;
  font-size: 10px;
  text-align: center;
  padding: 0;
  line-height: 14px;
}

.side-bar .vcon ul li span {
  float: left;
  padding: 12px 0 0 0;
  font-family: "微软雅黑";
}

.side-bar .vcon ul li span h4 {
  font-weight: normal;
  color: #fff;
  line-height: 24px;
  margin: 0;
  background: url(../images/green.png) no-repeat right 10px;
  display: inline-block;
  padding: 0 15px 0 0;
}

.side-bar .vcon ul li span p {
  color: #fff;
  line-height: 24px;
  margin: 0;
}

.side-bar .vcon ul li a.v-big {
  width: 15px;
  height: 20px;
  float: right;
  margin: 30px 30px 0 0;
  display: block;
  background: url(../images/voice_big.png) no-repeat;
}

.side-bar .vcon ul li.xuanz {
  background: url(../images/yellow.png) repeat;
}

/*****侧边栏-左***************/
.left-bar {
  width: 232px;
  background: url(../images/side_bar_bg.png) repeat;
  position: absolute;
  top: 51px;
  left: 0;
  display: none;
  z-index: 99;
}

.left-bar ul {
  padding-top: 20px;
}

.left-bar ul li {
  height: 56px;
  margin: 0 23px;
  background: url(../images/li_bg.png) repeat-x bottom;
}

.left-bar ul li a {
  display: block;
  height: 27px;
  padding: 23px 0 0 54px;
  font-family: "微软雅黑";
  text-decoration: none;
  color: #455360;
  position: relative;
}

.left-bar ul li a em {
  font-style: normal;
  position: absolute;
  top: 0;
  left: 0;
  padding: 22px 0 0 54px;
  color: #fff;
}

.left-bar ul li a.synergy {
  background: url(../images/synergy.png) no-repeat 12px 13px;
}

.left-bar ul li a.movie {
  background: url(../images/movie.png) no-repeat 12px 16px;
}

.left-bar ul li a.computer {
  background: url(../images/computer.png) no-repeat 12px 18px;
}

.left-bar ul li a.drug {
  background: url(../images/drug.png) no-repeat 12px 18px;
}

.left-bar ul li a.results {
  background: url(../images/results.png) no-repeat 12px 18px;
}

.left-bar ul li.none {
  background: none;
}


/*****医院决策***************/
.main_visual {
  /*width:1220px;*/
  margin: 0 auto;
  position: relative;
}

.main_image {
  width: 100%;
  height: 592px;
  overflow: hidden;
  margin: 0 auto;
  position: relative
}

.main_image ul {
  width: 9999px;
  height: 592px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0
}

.main_image li {
  float: left;
  height: 592px;
}

.outpatient {
  width: 809px;
  height: 365px;
  margin: 0 10px 10px 0;
  background: url(../images/outpatient_bg.png) repeat;
  position: relative;
  float: left;
}

.outpatient h3 {
  font-family: "微软雅黑";
  font-size: 14px;
  color: #437692;
  float: left;
  background: url(../images/zzt.png) no-repeat 0 2px;
  margin: 20px 0 0 34px;
  padding: 0 0 0 26px;
  font-weight: normal;
  display: inline-block;
}

.chart {
  padding: 5px 0 0 0px;
  *padding: 0px 0 0 0px;
  margin-top: 8px;
  clear: both;
}

.zzt {
  width: 738px;
  height: 202px;
  margin: 26px auto 0;
}

a.re-out {
  display: block;
  width: 13px;
  height: 14px;
  background: url(../images/refresh_out.png) no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px 21px 0 0;
}

.cost {
  width: 399px;
  height: 365px;
  position: relative;
  background: url(../images/cost_bg.png) repeat;
  float: left;
}

.cost h3 {
  font-family: "微软雅黑";
  font-size: 14px;
  color: #437692;
  float: left;
  background: url(../images/cost.png) no-repeat 0 2px;
  margin: 20px 0 0 34px;
  padding: 0 0 0 26px;
  font-weight: normal;
  display: inline-block;
}

.cost h3 a {
  color: #437692;
  text-decoration: none;
  position: relative;
  background: url(../images/xjt.png) no-repeat right 8px;
  padding-right: 12px;
  margin-right: 10px;
}

.cost h3 a ul {
  width: 100%;
  position: absolute;
  top: 20px;
  left: 0;
  z-index: 45;
  display: none;
}

.cost h3 a ul li {
  height: 20px;
}

.cost .btu {
  width: 236px;
  height: 211px;
  margin: 12px auto 0;
}

.instr {
  padding: 15px 0px 0 24px;
  *padding: 0px 0px 0 24px;
  *margin-top: 15px;
}

.instr .wz {
  width: 125px;
  float: left;
  color: #fff;
}

.instr .wz img {
  float: left;
  margin: 7px 0 0 0;
}

.instr .wz span {
  float: left;
  height: 24px;
  font-family: "微软雅黑";
  font-size: 12px;
  line-height: 24px;
  padding-left: 5px;
}

.instr .wz span em {
  font-style: normal;
  padding-left: 6px;
}

.pay {
  width: 809px;
  height: 176px;
  position: relative;
  float: left;
  margin: 0 10px 0px 0;
  background: url(../images/pay_bg.png) repeat;
}

.kuai {
  width: 269px;
  height: 176px;
  float: left;
  background: url(../images/lines.png) no-repeat right center;
  position: relative;
}

.kuai h3 {
  font-size: 14px;
  color: #056ea4;
  float: left;
  background: url(../images/cost.png) no-repeat 0 2px;
  margin: 15px 0 0 34px;
  padding: 0 0 0 26px;
}

.kuai h3 a {
  color: #056ea4;
  text-decoration: none;
  position: relative;
  background: url(../images/xjt.png) no-repeat right 8px;
  padding-right: 12px;
  margin-right: 10px;
}

.kuai a.refresh {
  display: block;
  width: 13px;
  height: 14px;
  background: url(../images/refresh_out.png) no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  margin: 18px 21px 0 0;
}

.kuai .k-con {
  padding: 22px 0 0 31px;
  clear: both;
  font-family: "微软雅黑";
}

.kuai .k-con .fall {
  height: 52px;
  _height: 43px;
  font-family: "微软雅黑";
  font-size: 52px;
  line-height: 40px;
  color: #fff;
  background: url(../images/fall.png) no-repeat right 15px;
  _background: url(../images/fall.png) no-repeat right 0px;
  padding: 0px 0 5px 15px;
}

.kuai .k-con .fall em {
  font-size: 10px;
}

.kuai .k-con p {
  font-size: 12px;
  margin: 0;
  padding: 3px 0;
}

.kuai .k-con p em {
  padding-left: 15px;
}

.kuai .k-con p em.xia {
  color: #ff0000;
  padding-left: 8px;
}

.kuai .k-con p em.rise {
  color: #4fff78;
  padding-left: 8px;
}

.times h3 {
  background: url(../images/times.png) no-repeat 0 2px;
  color: #58704a;
}

.times h3 a {
  color: #58704a;
  text-decoration: none;
  position: relative;
  background: url(../images/xjt.png) no-repeat right 8px;
  padding-right: 12px;
  margin-right: 10px;
}

.times a.refresh {
  background: url(../images/refresh_times.png) no-repeat;
}

.average h3 {
  background: url(../images/cost2.png) no-repeat 0 2px;
  color: #5368a0 !important;
}

.average h3 a {
  color: #5368a0;
  text-decoration: none;
  position: relative;
  background: url(../images/xjt.png) no-repeat right 8px;
  padding-right: 12px;
  margin-right: 10px;
}

.average a.refresh {
  background: url(../images/refresh.png) no-repeat;
}

.no-bg {
  background: none;
}


/*****挂号统计***************/
.guah {
  width: 399px;
  height: 176px;
  position: relative;
  float: left;
  background: url(../images/guah_bg.png) repeat;
}

.guah h3 {
  font-size: 14px;
  color: #437692;
  float: left;
  background: url(../images/zzt.png) no-repeat 0 2px;
  margin: 16px 0 0 34px;
  padding: 0 0 0 26px;
  font-weight: normal;
  display: inline-block;
}

.guah .zst {
  padding: 3px 0 0 22px;
}

div.flicking_con {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

div.flicking_cons {
  width: 815px;
}

div.flicking_con .flicking_inner {
  position: absolute;
  top: 576px;
  left: 50%;
  z-index: 999;
  width: 170px;
  _width: 170px;
  height: 4px;
  margin-left: -85px;
  _font-size: 0;
}

/* 121126 */
div.flicking_con .flicking_inners {
  top: 525px;
}

div.flicking_con a,
div.flicking_cons a {
  float: left;
  width: 47px;
  height: 4px;
  margin: 0 4px;
  padding: 0;
  background: url('../images/btn_main_img.gif') 0 0 no-repeat;
  _background: url(../images/btn_main_img.gif) no-repeat;
  display: block;
  text-indent: -1000px;
}

div.flicking_con a.on,
div.flicking_cons a.on {
  background-position: 0 -4px;
}

#btn_prev,
#btn_next {
  z-index: 20;
  position: absolute;
  display: block;
  width: 73px !important;
  height: 74px !important;
  top: 50%;
  margin-top: -37px;
  display: none;
}

#btn_prev {
  background: url(../images/hover_left.png) no-repeat left top;
  left: 0px;
}

#btn_next {
  background: url(../images/hover_right.png) no-repeat right top;
  right: 0px;
}

/******申请单*******************************/
.apply {
  padding: 0px 53px 0;
  background: #fafafa;
  *position: relative;
  _position: relative;
}

.apply .app-top {
  height: 95px;
  border-bottom: 1px solid #dfdddd;
}

.apply .app-top .appmenu {
  padding-top: 44px;
  float: left;
  padding-right: 30px;
}

.apply .app-top .appmenu .depart {
  font-size: 12px;
  color: #999898;
  line-height: 24px;
}

.apply .app-top .appmenu label {
  font-size: 12px;
  float: left;
  line-height: 24px;
}

.apply .app-top .appmenu .dep {
  width: 166px;
  height: 24px;
  border: 1px solid #ccc;
  background: url(../images/dep_bg.gif) repeat-x bottom;
  float: left;
  position: relative;
}

.apply .app-top .appmenu .dep .select_t {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 0 0 8px;
  font-size: 12px;
  color: #9e9e9e;
  line-height: 24px;
}

.apply .app-top .appmenu .dep a {
  position: absolute;
  display: block;
  width: 18px;
  height: 24px;
  top: 0;
  right: 0;
  background: url(../images/xl.gif) no-repeat center center;
}

.apply .app-top .appmenu .dep ul {
  position: absolute;
  top: 22px;
  left: -1px;
  width: 100%;
  border: 1px solid #ccc;
  border-top: none;
  z-index: 13;
  background: #fff;
  display: none;
}

.apply .app-top .appmenu .dep ul li {
  height: 24px;
  font-size: 12px;
  color: #9e9e9e;
  padding-left: 8px;
  line-height: 24px;
}

a.search-btn {
  width: 83px;
  height: 28px;
  border-bottom: 1px solid #bbda99;
  background: #d8f3bb;
  display: block;
  position: relative;
  top: -1px;
  text-decoration: none;
}

a.search-btn img {
  float: left;
  padding: 6px 10px 0 10px;
}

a.search-btn span {
  float: left;
  padding: 7px 0 0 0;
  font-size: 12px;
  color: #fff;
  position: relative;
}

a.search-btn span em {
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px 0 0 0;
  color: #529f00;
}

/********申请单列表******************************/
.apply .app-con {
  padding: 15px 0 0 0;
}

.apply .app-con a.add-btn {
  height: 30px;
  margin-bottom: 15px;
}

.apply .app-con a.add-btn img {
  padding: 10px 8px 0 8px;
}

.apply .app-con a.add-btn span {
  float: left;
  padding: 8px 0 0 0;
  font-size: 12px;
  color: #fff;
  position: relative;
}

.apply .app-con a.add-btn span em {
  position: absolute;
  top: 0;
  left: 0;
  padding: 9px 0 0 0;
  color: #529f00;
}

.apply .app-con .app-grid {
  border: 1px solid #d7d7d7;
  background: #fff;
}

.apply .app-con .app-grid table {
  width: 100%;
}

.apply .app-con .app-grid .t-head {
  padding: 0 0px;
}

.apply .app-con .app-grid .t-head table td {
  height: 33px;
  font-weight: bold;
  font-size: 12px;
  color: #fff;
  text-align: center;
  background: #6bc20e;
}

.apply .app-con .app-grid .t-con {
  padding: 0 0px;
  _position: relative;
}

.apply .app-con .app-grid .t-con table td {
  height: 44px;
  font-size: 12px;
  text-align: center;
}

.apply .app-con .app-grid .t-con table .biao td {
  border-top: 1px solid #fff;
}

.apply .app-con .app-grid .t-con table .biaoli {
  width: 100%;
  position: relative;
  display: none;
}

.apply .app-con .app-grid .t-con table .biaoli .submenu {
  height: 160px;
  padding: 0 39px;
  border-top: 1px solid #d5dfe8;
  border-bottom: 1px solid #c3d6cb;
  background: #eaf5df;
}

.apply .app-con .app-grid .t-con table .biaoli .submenu .sub {
  height: 90px;
  padding: 35px 0 0 0;
  background: url(../images/sub_m_bg.gif) repeat-x;
}

.apply .app-con .app-grid .t-con table .biaoli .submenu .sub ul li {
  float: left;
  width: 20%;
  _width: 19%;
  height: 54px;
  background: url(../images/li_dot.png) no-repeat 32px 21px;
  _background: url(../images/li_dot.gif) no-repeat 32px 21px;
  font-size: 12px;
}

.apply .app-con .app-grid .t-con table .biaoli .submenu .sub ul li span {
  font-weight: bold;
  padding: 3px 0 5px 12px;
  margin-bottom: 20px;
  display: block;
  text-align: left;
}

.apply .app-con .app-grid .t-con table .biaoli .submenu .sub ul li p {
  padding: 0 0 0 40px;
  background: url(../images/ok.png) no-repeat 20px 0;
  _background: url(../images/ok.gif) no-repeat 20px 0;
  margin: 0;
  text-align: left;
}

.apply .app-con .app-grid .t-con table .biaoli .submenu .sub ul li a {
  width: 93px;
  height: 31px;
  background: url(../images/look.gif) no-repeat;
  display: block;
  margin: 20px 0 0 8px;
  _float: left;
}

.apply .app-con .app-grid .t-con table .biaoli .submenu .sub ul li a.not {
  width: 93px;
  height: 31px;
  background: url(../images/not.gif) no-repeat;
  display: block;
  margin: 20px 0 0 8px;
  _float: left;
}

.v01 {
  background: #fff;
}

.v02 {
  background: #eaf5df !important;
}

.hui {
  background: #f2f2f2;
}

.apply .app-con .app-grid .t-head table td.riqi {
  width: 10%;
}

.apply .app-con .app-grid .t-head table td.xm {
  width: 10%;
}

.apply .app-con .app-grid .t-head table td.lx {
  width: 15%;
}

.apply .app-con .app-grid .t-head table td.dec {
  width: 20%;
}

.apply .app-con .app-grid .t-con table td.riqi {
  width: 10%;
}

.apply .app-con .app-grid .t-con table td.xm {
  width: 10%;
}

.apply .app-con .app-grid .t-con table td.lx {
  width: 15%;
}

.apply .app-con .app-grid .t-con table td.dec {
  width: 20%;
}

.apply .app-con .page .pageright {
  height: 20px;
  padding: 16px 0 0 0;
}

.apply .app-con .page {
  padding: 15px 0 10px 0;
}

.apply .app-con .page span {
  float: right;
  font-size: 12px;
  padding: 0 12px 0 5px;
}

.apply .app-con .page span em {
  padding: 0 7px;
}

.apply .app-con .page a {
  float: right;
  margin-right: 7px;
  height: 12px;
}

.apply .app-con .page a.lastpage {
  width: 11px;
  background: url(../images/last_page.png) no-repeat 0 center;
}

.apply .app-con .page a.nextpage {
  width: 8px;
  background: url(../images/next_page.png) no-repeat 0 center;
}

.apply .app-con .page a.prevpage {
  width: 8px;
  background: url(../images/prev_page.png) no-repeat 0 center;
}

.apply .app-con .page a.firstpage {
  width: 11px;
  background: url(../images/first_page.png) no-repeat 0 center;
}

#ascrail2001 div,
#ascrail2002 div {
  background: #bdd89f !important;
}

/***表格滚动条样式*****/

.apply .app-con .qietab {
  height: 34px;
}

.apply .app-con .qiehuan {
  width: 162px;
  height: 34px;
  background: #fff;
  border: 1px solid #dfdddd;
  border-bottom: none;
  float: left;
  font-size: 12px;
  color: #353535;
  font-weight: bold;
  text-align: center;
  line-height: 34px;
  margin-right: 6px;
  position: relative;
  _bottom: -1px;
}

.apply .app-con .qiegreen {
  color: #fff;
  background: #6bae23;
}

.apply .app-con .fxk {
  margin: 0px auto 0;
  display: inline-table;
}

.apply .app-con a.receive {
  width: 83px;
  height: 31px;
  display: inline-table;
  _display: inline-block;
  background: url(../images/receive.gif) no-repeat;
}

.apply .app-con .page .allselect {
  float: left;
  padding-left: 52px;
  height: 31px;
}

.apply .app-con .page .allselect input[type="checkbox"] {
  float: left;
  margin: 9px 10px 0 0;
}

.apply .app-con .page .allselect .allsel {
  float: left;
  margin: 9px 10px 0 0;
  _margin: 4px 10px 0 0;
}

.apply .app-con .page .allselect .alltext {
  float: left;
  font-size: 12px;
  color: #353535;
  padding-right: 21px;
  line-height: 31px;
}

.apply .app-con .page .allselect .allrecevie {
  width: 83px;
  height: 31px;
  display: block;
  background: url(../images/allrecevie.gif) no-repeat;
  float: left;
}

.apply .app-con .page .pagein {
  width: 186px;
  height: 20px;
  margin: 0 auto;
  clear: both;
}


/********添加申请单******************************/
.insert {
  padding: 0px 25px 0;
  background: #fafafa;
  *position: relative;
  _position: relative;
}

.insert .pos {
  height: 45px;
  padding: 20px 0 0 23px;
  background: url(../images/home_black.png) no-repeat 2px 35px;
}

.insert .pos a {
  font-size: 12px;
  color: #000;
  float: left;
  line-height: 45px;
  margin-right: 8px;
  text-decoration: none;
}

.insert .pos a:hover {
  text-decoration: underline;
}

.insert .pos span {
  float: left;
  line-height: 45px;
  margin-right: 8px;
}

.insert .in-con {
  border: 1px solid #d7d7d7;
  border-top: none;
  margin-bottom: 30px;
}

.insert .in-con .in-con-top {
  height: 54px;
  border-top: 1px solid #9ebc7f;
  border-bottom: 1px solid #9ebc7f;
  background: #e4f4d4;
}

.insert .in-con .in-con-top .un-edit {
  font-size: 12px;
  color: #999898;
  line-height: 54px;
  padding: 0 20px 0 18px;
  float: left;
}

.insert .in-con .appmenu {
  padding-top: 15px;
  float: left;
  padding-right: 20px;
}

.insert .in-con .appmenu label {
  font-size: 12px;
  float: left;
  line-height: 24px;
}

.insert .in-con .appmenu span {
  font-size: 12px;
  float: left;
  line-height: 24px;
}

.insert .in-con .appmenu input {
  width: 158px;
  padding: 0 5px;
  height: 24px;
  border: 1px solid #ccc;
  background: url(../images/dep_bg.gif) repeat-x bottom #fff;
  float: left;
  line-height: 24px;
  color: #9e9e9e;
}

.insert .in-con .appmenu input.age {
  width: 65px;
}

.insert .in-con .appmenu input.address {
  width: 300px;
}

.insert .in-con .appmenu input.color {
  width: 98px;
  margin-right: 10px;
}

.insert .in-con .appmenu .dep {
  width: 166px;
  height: 24px;
  border: 1px solid #ccc;
  background: url(../images/dep_bg.gif) repeat-x bottom #fff;
  float: left;
  position: relative;
}

.insert .in-con .appmenu .dep .select_t {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 0 0 8px;
  font-size: 12px;
  color: #9e9e9e;
  line-height: 24px;
}

.insert .in-con .appmenu .dep a {
  position: absolute;
  display: block;
  width: 18px;
  height: 24px;
  top: 0;
  right: 0;
  background: url(../images/xl.gif) no-repeat center center;
}

.insert .in-con .appmenu .dep ul {
  position: absolute;
  top: 22px;
  left: -1px;
  width: 100%;
  border: 1px solid #ccc;
  border-top: none;
  z-index: 13;
  background: #fff;
  display: none;
}

.insert .in-con .appmenu .dep ul li {
  height: 24px;
  font-size: 12px;
  color: #9e9e9e;
  padding-left: 8px;
  line-height: 24px;
}

.insert .in-con .in-form {
  padding: 0 19px 0px 19px;
  background: #fff;
}

.insert .in-con .in-form .form-h {
  border-bottom: 1px solid #d7d7d7;
  padding: 7px 0 22px 0px;
}

.insert .in-con .in-form .radio-btn {
  float: left;
  height: 17px;
  padding-left: 22px;
  margin: 4px 12px 0 0;
  font-size: 12px;
  color: #000;
  line-height: 17px;
  text-decoration: none;
  background: url(../images/radio.png) no-repeat;
  white-space: nowrap;
}

.insert .in-con .in-form .radio-btn-check {
  background: url(../images/radio.png) no-repeat 0 -17px;
}

/***单选按钮选中***/
.insert .in-con .in-form .check-btn {
  float: left;
  height: 18px;
  padding-left: 22px;
  margin: 4px 12px 0 0;
  font-size: 12px;
  color: #000;
  line-height: 17px;
  text-decoration: none;
  background: url(../images/check.gif) no-repeat;
}

.insert .in-con .in-form a.daoru {
  width: 93px;
  height: 31px;
  float: left;
  background: url(../images/daoru.gif) no-repeat;
  display: block;
  margin-top: 10px;
}

.insert .in-con .in-form a.daoru:hover {
  background-position: 0 -31px;
}

.insert .in-con .in-form .form-con {
  padding: 8px 25px 0 98px;
  position: relative;
  clear: both;
}

.insert .in-con .in-form .form-con label {
  width: 98px;
  font-size: 12px;
  position: absolute;
  top: 0;
  left: 0;
  _left: -98px;
  padding: 12px 0 0 0px;
  text-align: right;
}

.insert .in-con .in-form .form-con .text {
  border: 1px solid #ccc;
  background: url(../images/dep_bg.gif) repeat-x bottom #fff;
  padding: 0 10px;
}

.insert .in-con .form-con textarea {
  width: 100%;
  height: 56px;
  line-height: 24px;
  color: #9e9e9e;
  border: none;
  background: none;
  outline: none;
  font-size: 12px;
}

.insert .in-con .in-form .form-con .input {
  width: 100%;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  color: #9e9e9e;
  border: none;
  background: none;
}

.insert .in-con .in-form .form-con .strong {
  font-weight: bold;
  padding-top: 28px;
}

.insert .in-con .in-form .form-con .strongs {
  font-weight: bold;
  padding-top: 15px;
}

.insert .in-con .in-form .linek {}

.insert .in-con .in-form .form-btn {
  height: 74px;
  border-top: 1px solid #d7d7d7;
  text-align: center;
  margin-top: 20px;
}

.insert .in-con .in-form .form-btn .jz {
  display: inline-block;
  margin: 11px auto 0;
}

.insert .in-con .in-form .form-btn .jz a.quer {
  display: block;
  width: 93px;
  height: 31px;
  float: left;
  margin: 0 29px 0 0;
  background: url(../images/quedin.gif) no-repeat;
}

.insert .in-con .in-form .form-btn .jz a.quer:hover {
  background-position: 0 -31px;
}

.insert .in-con .in-form .form-btn .jz a.cancel {
  display: block;
  width: 93px;
  height: 31px;
  float: left;
  background: url(../images/cancel.gif) no-repeat;
}

.insert .in-con .in-form .form-btn .jz a.cancel:hover {
  background-position: 0 -31px;
}

/*******浮动层***************/
.float {
  width: 35px;
  height: 102px;
  position: absolute;
  top: 76px;
  right: 0;
  z-index: 8;
  background: url(../images/float_bg.png) no-repeat center 13px #a8bed0;
  cursor: pointer;
}


.f-menu-bar {
  width: 258px;
  position: absolute;
  top: 0;
  right: -260px;
}

.f-menu-bar-in {}



/*******************pop************************/

.pop {
  width: 254px;
  height: 174px;
  border: 1px solid #6bae23;
  background: #fff;
  position: fixed;
  _position: absolute;
  right: 0;
  bottom: 0px;
  _top: expression(documentElement . scrollTop + documentElement .clientHeight-this . offsetHeight);
  display: none;
  z-index: 22222;
}

.pop_tit {
  background: #6bae23;
  height: 34px;
  position: relative;
}

.pop_tit .lingd {
  height: 34px;
  border-bottom: 1px solid #e0e0e0;
  background: url(../images/lingd_bg.png) no-repeat 10px 8px;
}

.pop_tit .lingd a {
  color: #fff;
  padding: 10px 12px 0 40px;
  display: inline-block;
  position: relative;
  text-decoration: none;
}

.pop_tit a.popClose {
  width: 12px;
  height: 13px;
  display: inline-block;
  background: url(../images/popClose.png) no-repeat left top;
  position: absolute;
  right: 12px;
  top: 10px;
  cursor: pointer;
}

.pop_con {
  padding: 22px 20px 0 20px;
}

.pop_con p {
  height: 60px;
  font-size: 12px;
  padding: 0px;
  margin: 0;
  line-height: 18px;
}

.pop_con .icon_btn {
  width: 93px;
  height: 31px;
  margin: 0 auto;
}

a.see-btn {
  width: 93px;
  height: 30px;
  border-bottom: 1px solid #efd395;
  background: #ffd789;
  display: block;
  position: relative;
  top: -1px;
  text-decoration: none;
  text-align: center;
}

a.see-btn span {
  /* float: left; */
  /* padding: 7px 0 0 0; */
  font-size: 12px;
  color: #ffebc4;
  position: relative;
  line-height: 29px;
  height: 30px;
  display: block;
}

a.see-btn span em {
  position: absolute;
  top: 0;
  left: 0;
  /* padding: 8px 0 0 0; */
  color: #977900;
  height: 30px;
  /* display: block; */
  width: 93px;
  line-height: 30px;
}